<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{/* Lets CSS hide the mobile nav only when JS can reopen it. */}}
    <script>document.documentElement.classList.add('js')</script>
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">

    {{ with site.Params.favicon }}
        {{ with resources.Get . }}
        <link rel="icon" type="image/png" href="{{ .RelPermalink }}">
        {{ end }}
    {{ end }}

    {{/* Plain CSS, concatenated in cascade order. */}}
    {{ $css := slice
        (resources.Get "css/fonts.css")
        (resources.Get "css/base.css")
        (resources.Get "css/chrome.css")
        (resources.Get "css/home.css")
        (resources.Get "css/docs.css")
        (resources.Get "css/downloads.css")
        (resources.Get "css/pages.css")
        | resources.Concat "css/site.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
